body{
  background: url("../images/books-bookshelves.jpg");
}

.navbar{
  margin-bottom: 40px;
}

#indexJumbo{
  /* opacity: 0.3;
  filter: alpha(opacity=30); */
  background: rgba(220, 220, 220, 0.35);
}